@model OnlineMobileRecharge.Models.Recharge

@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Add Recharge";
}

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4">
            <h1 class="mt-4">Add Recharge</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Add Package</li>
            </ol>
            <div class="col-12">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">
                            <form asp-action="RechargeAdd" method="post">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Recharge_Name" class="form-control" />
                                    <label asp-for="Recharge_Name" class="control-label"></label>
                                    <span asp-validation-for="Recharge_Name" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Recharge_Description" class="form-control" />
                                    <label asp-for="Recharge_Description" class="control-label"></label>
                                    <span asp-validation-for="Recharge_Description" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Recharge_Price" id="RechargePrice" class="form-control" value="1000" onkeyup="calculateRechargeTax(this)" />
                                    <label asp-for="Recharge_Price" class="control-label"></label>
                                    <span asp-validation-for="Recharge_Price" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Recharge_Tax_Rate" id="RechargeTaxRate" class="form-control" value="15" onkeyup="calculateRechargeTax(this)" />
                                    <label asp-for="Recharge_Tax_Rate" class="control-label"></label>
                                    <span asp-validation-for="Recharge_Tax_Rate" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Recharge_Taxed_Amount" id="RechargeTaxAmount" class="form-control" disabled onkeyup="calculateRechargeTax(this)" />
                                    <label asp-for="Recharge_Taxed_Amount" class="control-label"></label>
                                    <span asp-validation-for="Recharge_Taxed_Amount" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <input asp-for="Recharge_Amount" id="RechargeAmount" class="form-control" onkeyup="calculateRechargeTax(this)" />
                                    <label asp-for="Recharge_Amount" class="control-label"></label>
                                    <span asp-validation-for="Recharge_Amount" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3">
                                    <select asp-for="Recharge_Type" asp-items="Html.GetEnumSelectList<EnumPackageType>()" class="form-control"></select>
                                    <label asp-for="Recharge_Type" class="control-label"></label>
                                    <span asp-validation-for="Recharge_Type" class="text-danger"></span>
                                </div>
                                <div class="form-floating mb-3 d-flex flex-row-reverse gap-2">
                                    <input type="submit" value="Create" class="btn btn-primary" />
                                    <a asp-action="Recharges" class="btn btn-secondary">Back to List</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <partial name="_AdminFooterPartial" />
</div>
<script>
    let inpPrice = document.getElementById("RechargePrice");
    let taxRate = document.getElementById("RechargeTaxRate");
    let taxAmount = document.getElementById("RechargeTaxAmount");
    let inpAmount = document.getElementById("RechargeAmount");

    function calculateRechargeTax(element) {
        switch(element) {
            case inpPrice:
                taxAmount.value = inpPrice.value * taxRate.value / 100
                inpAmount.value = inpPrice.value - taxAmount.value
                break;
            case taxRate:
                taxAmount.value = inpPrice.value * taxRate.value / 100
                inpAmount.value = inpPrice.value - taxAmount.value
                break;
            case taxAmount:
                inpPrice.value = taxAmount.value / taxRate.value * 100
                taxAmount.value = inpPrice.value * taxRate.value / 100
                inpAmount.value = inpPrice.value - taxAmount.value
                break;
            case inpAmount:
                let x = inpAmount.value / (100 - taxRate.value) * 100
                inpPrice.value = Math.round((x + Number.EPSILON) * 100) / 100

                taxAmount.value = inpPrice.value * taxRate.value / 100
                break;
        }
    }

    calculateRechargeTax(inpPrice);
</script>
