<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <a class="nav-link" asp-action="Index">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </div>
                    Dashboard
                </a>
                <div class="sb-sidenav-menu-heading">Tables</div>
                <a class="nav-link collapsed" asp-action="Packages">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-cubes"></i>
                    </div>
                    Packages
                </a>
                <a class="nav-link collapsed" asp-action="Packages">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-cubes"></i>
                    </div>
                    Packages
                </a>
                <a class="nav-link collapsed" asp-action="Packages">
                    <div class="sb-nav-link-icon">
                        <i class="fas fa-cubes"></i>
                    </div>
                    Packages
                </a>

                @*
                <a class="nav-link collapsed" href="" data-bs-toggle="collapse"
                data-bs-target="#pagesCollapseError" aria-expanded="false"
                aria-controls="pagesCollapseError">
                <div class="sb-nav-link-icon"><i class="fas fa-cubes"></i></div>
                Packages
                <div class="sb-sidenav-collapse-arrow">
                <i class="fas fa-angle-down"></i>
                </div>
                </a>
                <div class="collapse" id="pagesCollapseError" aria-labelledby="headingOne"
                data-bs-parent="#sidenavAccordionPages">
                <nav class="sb-sidenav-menu-nested nav">
                <a class="nav-link" asp-action="ListPackages">
                <div class="sb-nav-link-icon">
                <i class="fas fa-rectangle-list"></i>
                </div>
                List Packages
                </a>
                <a class="nav-link" asp-action="ViewPackage">
                <div class="sb-nav-link-icon">
                <i class="fas fa-eye"></i>
                </div>
                View Package
                </a>
                <a class="nav-link" asp-action="AddPackage">
                <div class="sb-nav-link-icon">
                <i class="fas fa-circle-plus"></i>
                </div>
                Add Package
                </a>
                <a class="nav-link" asp-action="EditPackage">
                <div class="sb-nav-link-icon">
                <i class="fas fa-pen-to-square"></i>
                </div>
                Edit Package
                </a>
                <a class="nav-link" asp-action="DeletePackage">
                <div class="sb-nav-link-icon">
                <i class="fas fa-trash"></i>
                </div>
                Delete Package
                </a>
                </nav>
                </div>
                *@
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logged in as:</div>
            Start Bootstrap
        </div>
    </nav>
</div>