<!--Container-->
<div class="container">
    <div class="fasilities__wrapper pb__40 wow fadeInUp"
         data-wow-duration="2s">
        <div class="fasilities__inner d-flex align-items-center">
            <a href="page1.html"
               class="fasilities__item active align-items-center d-flex">
                <span class="icon">
                    <img src="~/Home/assets/img/svg/phone.svg" alt="icon" />
                </span>
                <span class="fz-18 pratext d-block"> Top-up </span>
            </a>
            <a href="page1.html"
               class="fasilities__item align-items-center d-flex">
                <span class="icon">
                    <img src="~/Home/assets/img/svg/recharge.svg" alt="icon" />
                </span>
                <span class="fz-18 pratext d-block"> Special </span>
            </a>
            <a href="broadband.html"
               class="fasilities__item align-items-center d-flex">
                <span class="icon">
                    <img src="~/Home/assets/img/svg/broadband.svg" alt="icon" />
                </span>
                <span class="fz-18 pratext d-block"> Broadband </span>
            </a>
            <a href="landline.html"
               class="fasilities__item align-items-center d-flex">
                <span class="icon">
                    <img src="~/Home/assets/img/svg/landphone.svg" alt="icon" />
                </span>
                <span class="fz-18 pratext d-block"> Landline </span>
            </a>
            <a href="cabletv.html"
               class="fasilities__item align-items-center d-flex">
                <span class="icon">
                    <img src="~/Home/assets/img/svg/tv.svg" alt="icon" />
                </span>
                <span class="fz-18 pratext d-block"> CableTv </span>
            </a>
        </div>
    </div>

    <div class="fasilities__body wow fadeInUp" data-wow-duration="3s">
        <div class="row g-4 justify-content-center">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-6">
                <div class="recharge__paymentbox">
                    <div class="mobile__recharge text-center">
                        <h5>Mobile Recharge or Bill Payment</h5>
                        <div class="p-4" class="prepaid__option">
                            <!-- <div class="prepaid__check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="flexRadioDefault"
                                    id="pyradio2"
                                    checked
                                />
                                <label class="form-check-label" for="pyradio2">
                                    Prepaid
                                </label>
                            </div>
                            <div class="prepaid__check">
                                <input
                                    class="form-check-input"
                                    type="radio"
                                    name="flexRadioDefault"
                                    id="pyradio1"
                                />
                                <label class="form-check-label" for="pyradio1">
                                    Postpaid
                                </label>
                            </div> -->
                        </div>
                        <form action="javascript:void(0)" class="pb__40">
                            <div class="row g-4">
                                <div class="col-lg-6">
                                    <input type="text" placeholder="Enter Mobile Number" />
                                </div>
                                <div class="col-lg-6">
                                    <select name="niceselect">
                                        <option value="1">Select Your Operator</option>
                                        <option value="2">1st Operator</option>
                                        <option value="3">2nd Operator</option>
                                        <option value="4">3rd Operator</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <select name="niceselect">
                                        <option value="1">Select offers</option>
                                        <option value="2">1st Offers</option>
                                        <option value="3">2nd Offers</option>
                                        <option value="4">3rd Offers</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <input type="number" placeholder="Enter Amount" />
                                </div>
                            </div>
                        </form>
                        <a href="order.html" class="cmn__btn">
                            <span> Continue recharge </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                <div class="payment__sponsor owl-theme owl-carousel">
                    <div class="pay__sponsor__item">
                        <img src="~/Home/assets/img/banner/recharge-offer.jpg" alt="img" />
                    </div>
                    <div class="pay__sponsor__item">
                        <img src="~/Home/assets/img/banner/recharge-offer.jpg" alt="img" />
                    </div>
                    <div class="pay__sponsor__item">
                        <img src="~/Home/assets/img/banner/recharge-offer.jpg" alt="img" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Container-->