<!--Header Section Here -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-menu">
                <a asp-action="Index" class="logo">
                    <img src="~/Home/assets/img/logo/logo.png" alt="logo" />
                </a>
                <a asp-action="Index" class="small__logo d-xl-none">
                    <img src="~/Home/assets/img/logo/favicon.png" alt="logo" />
                </a>
            </div>
            <div class="menu__right__components d-flex align-items-center">
                <div class="sigup__grp d-lg-none">
                    <a href="signin.html" class="cmn__btn outline__btn">
                        <span> Signin </span>
                    </a>
                    <a href="signup.html" class="cmn__btn">
                        <span> Signup </span>
                    </a>
                </div>
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="main-menu">
                <li class="grid__style">
                    <a href="javascript:void(0)" class="d-flex">
                        <span> Home </span>
                    </a>
                </li>
                <li class="grid__style">
                    <a href="javascript:void(0)" class="d-flex">
                        <span> Recharge </span>
                        <span class="icons">
                            <i class="material-symbols-outlined"> expand_more </i>
                        </span>
                    </a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <!-- TODO: fix href -->
                            <a href="">Recharge</a>
                        </li>
                        <li>
                            <!-- TODO: fix href -->
                            <a href="">Postpaid Recharge</a>
                        </li>
                    </ul>
                </li>
                <li class="grid__style">
                    <a href="javascript:void(0)" class="d-flex">
                        <span> Pages </span>
                        <span class="icons">
                            <i class="material-symbols-outlined"> expand_more </i>
                        </span>
                    </a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <a href="javascript:void(0)"
                               class="d-flex align-items-center justify-content-between">
                                <span class="text"> About </span>
                                <span class="icon">
                                    <i class="material-symbols-outlined"> add </i>
                                </span>
                            </a>
                            <ul class="sub-two">
                                <li>
                                    <a href="about.html"> About us </a>
                                </li>
                                <li>
                                    <a href="chat-us.html"> Chat us </a>
                                </li>
                                <li>
                                    <a href="favourites.html"> Favorites </a>
                                </li>
                                <li>
                                    <a href="help.html"> Help page </a>
                                </li>
                            </ul>
                        </li>
                        <li class="subtwohober">
                            <a href="javascript:void(0)"
                               class="d-flex align-items-center justify-content-between">
                                <span class="text"> Support </span>
                                <span class="icon">
                                    <i class="material-symbols-outlined"> add </i>
                                </span>
                            </a>
                            <ul class="sub-two">
                                <li>
                                    <a href="help-support.html"> Support </a>
                                </li>
                                <li>
                                    <a href="help-knowledge.html"> Support Knowledge </a>
                                </li>
                                <li>
                                    <a href="help-knowledge-details.html">
                                        Support Details
                                    </a>
                                </li>
                                <li>
                                    <a href="video-tutorial.html"> Support Tutorial </a>
                                </li>
                                <li>
                                    <a href="submit-ticket.html"> Submit Ticket </a>
                                </li>
                            </ul>
                        </li>
                        <li class="subtwohober">
                            <a href="javascript:void(0)"
                               class="d-flex align-items-center justify-content-between">
                                <span class="text"> My Profile </span>
                                <span class="icon">
                                    <i class="material-symbols-outlined"> add </i>
                                </span>
                            </a>
                            <ul class="sub-two">
                                <li>
                                    <a href="personal-information.html"> Personal info </a>
                                </li>
                                <li>
                                    <a href="login-security.html"> Login Security </a>
                                </li>
                                <li>
                                    <a href="favourites.html"> Favourites </a>
                                </li>
                                <li>
                                    <a href="transaction.html"> Transaction </a>
                                </li>
                                <li>
                                    <a href="password-change.html"> Change Password </a>
                                </li>
                                <li>
                                    <a href="notification.html"> Notification </a>
                                </li>
                            </ul>
                        </li>
                        <li class="subtwohober">
                            <a href="javascript:void(0)"
                               class="d-flex align-items-center justify-content-between">
                                <span class="text"> Signup & Register </span>
                                <span class="icon">
                                    <i class="material-symbols-outlined"> add </i>
                                </span>
                            </a>
                            <ul class="sub-two">
                                <li>
                                    <a href="signup.html"> Signup Register </a>
                                </li>
                                <li>
                                    <a href="password.html"> Password Change </a>
                                </li>
                                <li>
                                    <a href="number-toreach.html"> Signup Number </a>
                                </li>
                                <li>
                                    <a href="varified-number.html"> Varified Number </a>
                                </li>
                                <li>
                                    <a href="signin.html"> Sign in </a>
                                </li>
                            </ul>
                        </li>
                        <li><a href="faq.html">Faq Page</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
                <!-- <li>
                    <a href="javascript:void(0)" class="d-flex">
                        <span> Elements </span>
                        <span class="icons">
                            <i class="material-symbols-outlined"> expand_more </i>
                        </span>
                    </a>
                    <ul class="sub-menu submenu__element">
                        <li class="subtwohober">
                            <a href="typography.html" class="d-lg-none">Typography</a>
                            <a href="typography.html" class="mh__img"> Typography </a>
                        </li>
                        <li>
                            <a href="blocks-home.html" class="d-lg-none">Banner</a>
                            <a href="blocks-home.html" class="mh__img"> Banner </a>
                        </li>
                        <li>
                            <a href="blocks-allblocks.html" class="d-lg-none"
                                >All Blocks</a
                            >
                            <a href="blocks-allblocks.html" class="mh__img">
                                All Blocks
                            </a>
                        </li>
                        <li>
                            <a href="blocks-ordersystem.html" class="d-lg-none"
                                >Order System</a
                            >
                            <a href="blocks-ordersystem.html" class="mh__img">
                                Order System
                            </a>
                        </li>
                        <li>
                            <a href="blocks-about.html" class="d-lg-none"
                                >About & Refer</a
                            >
                            <a href="blocks-about.html" class="mh__img">
                                About & Refer
                            </a>
                        </li>
                        <li>
                            <a href="blocks-list.html" class="d-lg-none">Page List</a>
                            <a href="blocks-list.html" class="mh__img"> Page List </a>
                        </li>
                        <li class="subtwohober">
                            <a href="blocks-grid.html" class="d-lg-none">Page Grid</a>
                            <a href="blocks-grid.html" class="mh__img"> Page Grid </a>
                        </li>
                        <li>
                            <a href="blocks-invoice.html" class="d-lg-none"
                                >Invoice/Email</a
                            >
                            <a href="blocks-invoice.html" class="mh__img">
                                Invoice/Email
                            </a>
                        </li>
                        <li>
                            <a href="blocks-signin.html" class="d-lg-none"
                                >Sigin/sigup</a
                            >
                            <a href="blocks-signin.html" class="mh__img">
                                Sigin/sigup
                            </a>
                        </li>
                        <li>
                            <a href="blocks-confirm-details.html" class="d-lg-none"
                                >Confirm Details</a
                            >
                            <a href="blocks-confirm-details.html" class="mh__img">
                                Confirm Details
                            </a>
                        </li>
                        <li>
                            <a href="blocks-payments.html" class="d-lg-none"
                                >Payment System</a
                            >
                            <a href="blocks-payments.html" class="mh__img">
                                Payment System
                            </a>
                        </li>
                        <li>
                            <a href="successful.html" class="d-lg-none">Successful</a>
                            <a href="successful.html" class="mh__img"> Successful </a>
                        </li>
                        <li>
                            <a href="blocks-personalinfo.html" class="d-lg-none"
                                >Personal Info</a
                            >
                            <a href="blocks-personalinfo.html" class="mh__img">
                                Personal Info
                            </a>
                        </li>
                        <li>
                            <a href="blocks-testimonial.html" class="d-lg-none"
                                >Testimonial</a
                            >
                            <a href="blocks-testimonial.html" class="mh__img">
                                Testimonial
                            </a>
                        </li>
                        <li>
                            <a href="blocks-faqs.html" class="d-lg-none">Faq</a>
                            <a href="blocks-faqs.html" class="mh__img"> Faq </a>
                        </li>
                        <li>
                            <a href="blocks-support.html" class="d-lg-none">Support</a>
                            <a href="blocks-support.html" class="mh__img"> Support </a>
                        </li>
                        <li>
                            <a href="blocks-contact.html" class="d-lg-none"
                                >Contact Us</a
                            >
                            <a href="blocks-contact.html" class="mh__img">
                                Contact Us
                            </a>
                        </li>
                        <li>
                            <a href="blocks-error.html" class="d-lg-none">Error</a>
                            <a href="blocks-error.html" class="mh__img"> Error </a>
                        </li>
                    </ul>
                </li> -->
                <li class="sigup__grp d-lg-none d-flex align-items-center">
                </li>
            </ul>
            <div class="sigin__grp d-flex align-items-center">
                <a href="signin.html" class="cmn__btn outline__btn">
                    <span> Signin </span>
                </a>
                <a href="signup.html" class="cmn__btn">
                    <span> Signup </span>
                </a>
                <partial name="_HomeLoginPartial" />
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->