@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<!--Header Section Here -->
<header class="header-section">
    <div class="container">
        <div class="header-wrapper">
            <div class="logo-menu">
                <a asp-action="Index" class="logo">
                    <img src="~/Home/assets/img/logo/logo.png" alt="logo" />
                </a>
                <a asp-action="Index" class="small__logo d-xl-none">
                    <img src="~/Home/assets/img/logo/favicon.png" alt="logo" />
                </a>
            </div>
            <div class="sigup__grp d-lg-none">
                <ul class="main-menu d-flex align-items-center gap-2 p-0">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                            <button type="submit" class="btn btn-outline-primary py-2" style="transition: 250ms;">Logout</button>
                        </form>
                    }
                    else
                    {
                        <a asp-area="Identity" asp-page="/Account/Login" class="cmn__btn outline__btn">
                            <span> Signin </span>
                        </a>
                        <a asp-area="Identity" asp-page="/Account/Register" class="cmn__btn">
                            <span> Signup </span>
                        </a>
                    }
                </ul>
            </div>
            <div class="menu__right__components d-flex align-items-center">
                <div class="header-bar d-lg-none">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <ul class="main-menu">
                <li class="grid__style">
                    <a asp-action="Recharges" class="d-flex">
                        <span> Recharge </span>
                        <span class="icons">
                            <i class="material-symbols-outlined"> expand_more </i>
                        </span>
                    </a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <a asp-action="Recharges" asp-route-packageType="prepaid">Prepaid Recharge</a>
                        </li>
                        <li>
                            <a asp-action="Recharges" asp-route-packageType="postpaid">Postpaid Recharge</a>
                        </li>
                        <li>
                            <a asp-action="Recharges" asp-route-packageType="special">Special Recharge</a>
                        </li>
                    </ul>
                </li>
                <li class="grid__style">
                    <a asp-action="Packages" class="d-flex">
                        <span> Packages </span>
                        <span class="icons">
                            <i class="material-symbols-outlined"> expand_more </i>
                        </span>
                    </a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <a asp-action="Packages" asp-route-packageType="prepaid">Prepaid Packages</a>
                        </li>
                        <li>
                            <a asp-action="Packages" asp-route-packageType="postpaid">Postpaid Packages</a>
                        </li>
                    </ul>
                </li>
                <li class="grid__style">
                    <a asp-action="Services" class="d-flex">
                        <span> Services </span>
                        <span class="icons">
                            <i class="material-symbols-outlined"> expand_more </i>
                        </span>
                    </a>
                    <ul class="sub-menu">
                        <li class="subtwohober">
                            <a asp-action="CallerTunes">Caller Tune</a>
                        </li>
                        <li>
                            <a asp-action="Services">Do Not Disturb</a>
                        </li>
                    </ul>
                </li>
                <li class="grid__style">
                    <a href="javascript:void(0)" class="d-flex">
                        <span>Other Pages </span>
                        <span class="icons">
                            <i class="material-symbols-outlined"> expand_more </i>
                        </span>
                    </a>
                    <ul class="sub-menu">
                        <li><a asp-action="Contact">Contact</a></li>
                        <li><a asp-action="About">About</a></li>
                        <li><a asp-action="Feedback">Feedback</a></li>
                        <li><a asp-action="FAQ">FAQ Page</a></li>
                    </ul>
                </li>
            </ul>
            <div class="sigin__grp d-flex align-items-center">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="btn btn-outline-primary py-2" style="transition: 250ms;">Logout</button>
                    </form>
                }
                else
                {
                    <a asp-area="Identity" asp-page="/Account/Login" class="cmn__btn outline__btn">
                        <span> Signin </span>
                    </a>
                    <a asp-area="Identity" asp-page="/Account/Register" class="cmn__btn">
                        <span> Signup </span>
                    </a>
                }
            </div>
        </div>
    </div>
</header>
<!-- Header Section End -->