<!DOCTYPE html>
<html lang="en">
<!-- Mirrored from pixner.net/rechargio/rechargio/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 May 2024 18:29:20 GMT -->
<head>
    <meta charset="UTF-8" />
    @* <meta http-equiv="X-UA-Compatible" content="IE=edge" /> *@
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineMobileRecharge</title>
    <!--Favicon img-->
    <link rel="shortcut icon" href="~/Home/assets/img/logo/favicon.png" />
    <!--nice select css-->
    <link rel="stylesheet" href="~/Home/assets/css/nice-select.css" />
    <!--datepicker css-->
    <link rel="stylesheet" href="~/Home/assets/css/datepickerboot.css" />
    <!--main css-->
    <link rel="stylesheet" href="~/Home/assets/css/main.css" />
</head>
<body>
    <!-- Preloader Start Here -->
    <div class="preloader__wrap">
        <div class="preloader__box">
            <div class="circle">
                <img src="~/Home/assets/img/preloader/preloader.png" alt="preloader" />
            </div>
            <div class="recharge">
                <img src="~/Home/assets/img/preloader/rechage.png" alt="rechage" />
            </div>
            <span class="pretext"> Rechargio </span>
        </div>
    </div>
    <!-- Preloader End Here -->
    <!-- Header top Here -->
    <section class="banner__section">
        <!--Header Section Here -->
        <partial name="_HomeNavbarPartial" />
        <!--Header Section Here -->
        <!-- Banner Here -->
        @* <partial name="_HomeBannerPartial" /> *@
        <!-- Banner End -->
    </section>
    <!-- Header top Here -->

    @RenderBody()

    <partial name="_HomeFooterPartial" />
    <!--Jquery 3 6 0 Min Js-->
    <script src="~/Home/assets/js/jquery-3.6.0.min.js"></script>
    <!--Bootstrap bundle Js-->
    <script src="~/Home/assets/js/bootstrap.bundle.min.js"></script>
    <!--Viewport Jquery Js-->
    <script src="~/Home/assets/js/viewport.jquery.js"></script>
    <!--Odometer min Js-->
    <script src="~/Home/assets/js/odometer.min.js"></script>
    <!--date picker Js-->
    <script src="~/Home/assets/js/bootstrap-datepicker.js"></script>
    <!--magnific Popup Js-->
    <script src="~/Home/assets/js/jquery.magnific-popup.min.js"></script>
    <!--nice select Js-->
    <script src="~/Home/assets/js/jquery.nice-select.min.js"></script>
    <!--Wow min Js-->
    <script src="~/Home/assets/js/wow.min.js"></script>
    <!--Owl carousel min Js-->
    <script src="~/Home/assets/js/owl.carousel.min.js"></script>
    <!--prism Js-->
    <script src="~/Home/assets/js/prism.js"></script>
    <!--main Js-->
    <script src="~/Home/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
<!-- Mirrored from pixner.net/rechargio/rechargio/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 26 May 2024 18:30:38 GMT -->
</html>
