@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "About Page";
}

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner">
    <!--Container-->
    <div class="container">
        <div class="breadcumnd__wrapper">
            <h2 class="bread__title">
                About us
            </h2>
            <ul class="breadcumnd__link">
                <li>
                    <a asp-action="Index">
                        Home
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Pages
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    About us
                </li>
            </ul>
        </div>
    </div>
    <!--Container-->
</section>
<!-- breadcumnd banner End -->
<!-- booksolving about here -->
<section class="booksolving__section pt-120 pb-120">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-7">
                <div class="booksolving__content custome__about1">
                    <div class="section__header mb__30 wow fadeInDown">
                        <h2>
                            We are Provide Recharge
                        </h2>
                        <p>
                            be at the forefront of innovation with our industry leading technology provided at affordable price for everyone...
                        </p>
                    </div>
                    <ul class="explore__list explore__list__about pb__40">
                        <li>
                            <span>
                                <img src="~/Home/assets/img/banner/three/bb1.png" alt="img">
                            </span>
                            <span>
                                100% Secure
                            </span>
                        </li>
                        <li>
                            <span>
                                <img src="~/Home/assets/img/banner/three/bb2.png" alt="img">
                            </span>
                            <span>
                                Trust pay
                            </span>
                        </li>
                        <li>
                            <span>
                                <img src="~/Home/assets/img/banner/three/bb3.png" alt="img">
                            </span>
                            <span>
                                Refer & Earn
                            </span>
                        </li>
                        <li>
                            <span>
                                <img src="~/Home/assets/img/banner/three/bb4.png" alt="img">
                            </span>
                            <span>
                                24X7 Support
                            </span>
                        </li>
                    </ul>
                    <a asp-action="Packages" class="cmn__btn">
                        <span>
                            Explore Packages
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5">
                <div class="booksolving__thumb">
                    <img src="~/Home/assets/img/booking/booksolving.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- booksolving about End -->
<!-- qustion here -->
<section class="question__section bgsection pt-120 pb-120">
    <div class="container">
        <div class="row flex-row-reverse  justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="qustion__content relative">
                    <div class="section__header pb__40 wow fadeInDown">
                        <h2>
                            If you got questions we have answer
                        </h2>
                        <p>
                            answers to some frequently asked questions
                        </p>
                    </div>
                    <div class="accordion__wrap">
                        <div class="accordion" id="accordionExample">
                            <!--Accordion items-->
                            <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                                <h2 class="accordion-header" id="headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        What is e recharge?
                                    </button>
                                </h2>
                                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            you can now recharge your phones from the comfort of your home through our website
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--Accordion items-->
                            <div class="accordion-item wow fadeInUp" data-wow-duration="1.2s">
                                <h2 class="accordion-header" id="headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        What are postpaid services?
                                    </button>
                                </h2>
                                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            postpaid services can be activated before payment but you will need to pay for them eventually 
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--Accordion items-->
                            <div class="accordion-item wow fadeInUp" data-wow-duration="1.4s">
                                <h2 class="accordion-header" id="headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        How reliable is recharge?
                                    </button>
                                </h2>
                                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                    <div class="accordion-body">
                                        <p>
                                            hundreds of users use our services daily and love it
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!--Accordion items-->
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 wow fadeInDown" data-wow-duration="0.9">
                <div class="qustion__thumb">
                    <img src="~/Home/assets/img/refer/qustion.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <div class="qustion__shape">
        <img src="~/Home/assets/img/refer/qustion-shape.png" alt="img">
    </div>
</section>
<!-- qustion End -->
<!-- testimonial Here -->
<section class="testimonial__section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section__header text-center pb__40 wow fadeInDown">
                    <h2>What does the client say?</h2>
                    <p class="max600">
                        See what our customers say about us.
                    </p>
                </div>
            </div>
        </div>
        <div class="testimoial__wrap owl-theme owl-carousel wow fadeInUp">
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    The customer support team has been fantastic - always helpful and responsive.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/jenlia.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Jenelia d'suza</h6>
                        <span class="desination"> Student </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    using this service is easy and inovative.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/alena.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Alena Hecals</h6>
                        <span class="desination"> Doctor </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    really affordable and easy to use.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/brad.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Brad Hogds</h6>
                        <span class="desination"> Student </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    The customer support team has been fantastic - always helpful and responsive.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/jenlia.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Jenelia d'suza</h6>
                        <span class="desination"> Student </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    using this service is easy and inovative.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/alena.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Alena Hecals</h6>
                        <span class="desination"> Doctor </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test__shape1">
        <img src="~/Home/assets/img/testimonial/testi-shape1.png" alt="shape" />
    </div>
    <div class="test__shape2">
        <img src="~/Home/assets/img/testimonial/testi-shape2.png" alt="shape" />
    </div>
</section>
<!-- testimonial End -->
<!--home two sponsor start-->
<section class="sponsor__section booking__sponsor pt__60 pb__60">
    <div class="container">
        <div class="logo__sponsor owl-theme owl-carousel">
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s1.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s2.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s3.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s4.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s5.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s6.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s7.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s2.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s3.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s4.png" alt="img">
            </div>
            <div class="item">
                <img src="~/Home/assets/img/sponsor/s5.png" alt="img">
            </div>
        </div>
    </div>
</section>
<!--home two sponsor end-->
