@model OnlineMobileRecharge.Models.Contact
@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Contact Us Page";
}

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner">
    <!--Container-->
    <div class="container">
        <div class="breadcumnd__wrapper">
            <h2 class="bread__title">
                Contact us
            </h2>
            <ul class="breadcumnd__link">
                <li>
                    <a asp-action="Index">
                        Home
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Pages
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    Contact us
                </li>
            </ul>
        </div>
    </div>
    <!--Container-->
</section>
<!-- breadcumnd banner End -->
<!-- contact here -->
<section class="contact__section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center wow fadeInDown">
            <div class="col-lg-6">
                <div class="section__header section__center pb__60">
                    <h2>
                        Get in touch with us.
                    </h2>
                    <p>
                        Fill up the form and our team will get back to you within 24 hours
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-6">
                <div class="signup__boxes">
                    <form asp-action="Contact" method="post" class="signup__form pt__40">
                        <div class="row g-4 justify-content-center">
                            <div class="col-lg-6">
                                <div class="input__grp">
                                    <label asp-for="Contact_Name">Name</label>
                                    <input asp-for="Contact_Name" id="fname" placeholder="What's your name?">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input__grp">
                                    <label asp-for="Contact_Email">Email</label>
                                    <input asp-for="Contact_Email" id="email" placeholder="What's your email?">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input__grp">
                                    <label asp-for="Contact_Phone">Phone</label>
                                    <input asp-for="Contact_Phone" id="numm" placeholder="(123) 480 - 3540">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="input__grp">
                                    <label asp-for="Contact_Intrest">Service interested in</label>
                                    <input asp-for="Contact_Intrest" id="subtest" placeholder="Ex. Auto Loan, Home Loan">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input__grp">
                                    <label asp-for="Contact_Message">Message</label>
                                    <textarea asp-for="Contact_Message" class="form-control" rows="3" id="comment" placeholder="Your message..."></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="input__grp mt-2 text-center">
                                    <button type="submit" class="cmn__btn">
                                        <span>
                                            Send Message
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact End -->
<!-- contact neeed Here -->
<section class="contact__need pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center wow fadeInDown">
            <div class="col-lg-6">
                <div class="section__header section__center pb__60">
                    <h2>
                        Need More Help?
                    </h2>
                    <p>
                        Queries, complaints and feedback. We will be happy to serve you
                    </p>
                </div>
            </div>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="contact__need__item">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="~/Home/assets/img/signup/phone.png" alt="img">
                    </div>
                    <h5>
                        Call Now
                    </h5>
                    <a href="javascript:void(0)">
                        <span class="fz-18 mb-1 fw-400 lato dtext d-block">
                            (907) 555-0101
                        </span>
                        <span class="fz-18 fw-400 lato dtext d-block">
                            (252) 555-0126
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="contact__need__item">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="~/Home/assets/img/signup/email.png" alt="img">
                    </div>
                    <h5>
                        Email Address
                    </h5>
                    <span>
                        <span class="fz-18 mb-1 fw-400 lato dtext d-block">
                            <a class="fz-18 mb-1 fw-400 lato dtext d-block" href="mailto:rabiasaad337@gmail.com">
                                feedback@OnlineRecharge.com
                            </a>
                        </span>
                        <span class="fz-18 fw-400 lato dtext d-block">
                            <a class="fz-18 mb-1 fw-400 lato dtext d-block" href="mailto:muhammadmohsinkhan.aptech@gmail.com">
                                support@OnlineRecharge.com
                            </a>
                        </span>
                    </span>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="contact__need__item">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <img src="~/Home/assets/img/signup/map.png" alt="img">
                    </div>
                    <h5>
                        Location
                    </h5>
                    <a href="javascript:void(0)">
                        <span class="fz-18 mb-1 fw-400 lato dtext d-block">
                            Royal Ln. Mesa, New Jersey 45463
                        </span>
                        <span class="fz-18 fw-400 lato dtext d-block">
                            Thornridge Cir. Shiloh, Hawaii 81063
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact neeed End -->
