@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "FAQ Page";
}

<!-- breadcumnd banner Here -->
<section class="breadcumnd__banner">
    <!--Container-->
    <div class="container">
        <div class="breadcumnd__wrapper">
            <h2 class="bread__title">
                Faq
            </h2>
            <ul class="breadcumnd__link">
                <li>
                    <a asp-action="Index">
                        Home
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        Pages
                    </a>
                </li>
                <li>
                    <i class="material-symbols-outlined">
                        chevron_right
                    </i>
                </li>
                <li>
                    Faq
                </li>
            </ul>
        </div>
    </div>
    <!--Container-->
</section>
<!-- breadcumnd banner End -->
<!-- order here -->
<section class="personal__information pt__60 pb__60">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="personal__infotabs">
                    <ul class="nav nav-tabs" id="myTabinfor" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#homeinfo1" type="button" role="tab" aria-controls="homeinfo1" aria-selected="true">
                                <span class="icon">
                                    <img src="~/Home/assets/img/svg/recharge.svg" alt="login">
                                </span>
                                <span>
                                    Recharge & Bill
                                </span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profileinfo2" type="button" role="tab" aria-controls="profileinfo2" aria-selected="false">
                                <span class="icon">
                                    <img src="~/Home/assets/img/svg/checkpayment.svg" alt="login">
                                </span>
                                <span>
                                    Payments
                                </span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact-tabre1" type="button" role="tab" aria-controls="contact-tabre1" aria-selected="false">
                                <span class="icon">
                                    <img src="~/Home/assets/img/svg/file-transfer.svg" alt="login">
                                </span>
                                <span>
                                    Transaction
                                </span>
                            </button>
                        </li>
                        <li class="nav-item" role="presentation">
                            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#contact-tabre2" type="button" role="tab" aria-controls="contact-tabre2" aria-selected="false">
                                <span class="icon">
                                    <img src="~/Home/assets/img/svg/password-change.svg" alt="login">
                                </span>
                                <span>
                                    Privacy
                                </span>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6">
                <div class="personal__infobody">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="homeinfo1" role="tabpanel">
                            <div class="qustion__content">
                                <div class="accordion__wrap">
                                    <div class="accordion" id="accordionExample">
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    What is e recharge?
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        you can now recharge your phones from the comfort of your home through our website
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1s">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    What are postpaid services?
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        postpaid services can be activated before payment but you will need to pay for them eventually
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1.4s">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    How reliable is recharge?
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        hundreds of users use our services daily and love it
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1.8s">
                                            <h2 class="accordion-header" id="headingThreemm">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThreemm" aria-expanded="false" aria-controls="collapseThreemm">
                                                    How do I recharge a phone number?
                                                </button>
                                            </h2>
                                            <div id="collapseThreemm" class="accordion-collapse collapse" aria-labelledby="headingThreemm" data-bs-parent="#accordionExample">
                                                <div class="accordion-body">
                                                    <p>
                                                        just go to the recharge page from the top navigation bar, select the recharge you like, type the mobile number you want to recharge and submit, insert payment details and you're all set
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="profileinfo2" role="tabpanel">
                            <div class="qustion__content">
                                <div class="accordion__wrap">
                                    <div class="accordion" id="accordionExample2">
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                                            <h2 class="accordion-header" id="headingOnes">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOnes" aria-expanded="true" aria-controls="collapseOnes">
                                                    is it safe?
                                                </button>
                                            </h2>
                                            <div id="collapseOnes" class="accordion-collapse collapse show" aria-labelledby="headingOnes" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <p>
                                                        yes our service are used and trusted by hundred of users everyday
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1s">
                                            <h2 class="accordion-header" id="headingTwos">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwos" aria-expanded="false" aria-controls="collapseTwos">
                                                    What payment method do you support?
                                                </button>
                                            </h2>
                                            <div id="collapseTwos" class="accordion-collapse collapse" aria-labelledby="headingTwos" data-bs-parent="#accordionExample2">
                                                <div class="accordion-body">
                                                    <p>
                                                        we user stripe api which makes payments easy for the users and us as well
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tabre1" role="tabpanel">
                            <div class="qustion__content">
                                <div class="accordion__wrap">
                                    <div class="accordion" id="accordionExample4">
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                                            <h2 class="accordion-header" id="headingOne4">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne4" aria-expanded="true" aria-controls="collapseOne4">
                                                    can i download my receipts?
                                                </button>
                                            </h2>
                                            <div id="collapseOne4" class="accordion-collapse collapse show" aria-labelledby="headingOne4" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <p>
                                                        yes you can
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1s">
                                            <h2 class="accordion-header" id="headingTwo4">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo4" aria-expanded="false" aria-controls="collapseTwo4">
                                                    can i download my transaction history?
                                                </button>
                                            </h2>
                                            <div id="collapseTwo4" class="accordion-collapse collapse" aria-labelledby="headingTwo4" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <p>
                                                        yes you can
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1.4s">
                                            <h2 class="accordion-header" id="headingThree4">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree4" aria-expanded="false" aria-controls="collapseThree4">
                                                    how to download transaction history?
                                                </button>
                                            </h2>
                                            <div id="collapseThree4" class="accordion-collapse collapse" aria-labelledby="headingThree4" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <p>
                                                        sign-in then go to the transaction history page from the navbar and follow the instructions there
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="0.9s">
                                            <h2 class="accordion-header" id="headingFour4">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour4" aria-expanded="false" aria-controls="collapseFour4">
                                                    is it safe?
                                                </button>
                                            </h2>
                                            <div id="collapseFour4" class="accordion-collapse collapse" aria-labelledby="headingFour4" data-bs-parent="#accordionExample4">
                                                <div class="accordion-body">
                                                    <p>
                                                        yes our service are used and trusted by hundred of users everyday
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="contact-tabre2" role="tabpanel">
                            <div class="qustion__content">
                                <div class="accordion__wrap">
                                    <div class="accordion" id="accordionExample5">
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1s">
                                            <h2 class="accordion-header" id="headingTwo5">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo5" aria-expanded="false" aria-controls="collapseTwo5">
                                                    how is my data used?
                                                </button>
                                            </h2>
                                            <div id="collapseTwo5" class="accordion-collapse collapse" aria-labelledby="headingTwo5" data-bs-parent="#accordionExample5">
                                                <div class="accordion-body">
                                                    <p>
                                                        the data of our users is only stored on our database and not used at all, 
                                                        any user can download their data and view it.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                        <div class="accordion-item wow fadeInUp" data-wow-duration="1.4s">
                                            <h2 class="accordion-header" id="headingThree5">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree5" aria-expanded="false" aria-controls="collapseThree5">
                                                    is it safe?
                                                </button>
                                            </h2>
                                            <div id="collapseThree5" class="accordion-collapse collapse" aria-labelledby="headingThree5" data-bs-parent="#accordionExample5">
                                                <div class="accordion-body">
                                                    <p>
                                                        yes our service are used and trusted by hundred of users everyday
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                        <!--Accordion items-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- order End -->