@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Start Here -->
<section class="booksolving__section pt-120 pb-120">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-7">
                <div class="booksolving__content">
                    <div class="section__header mb__30 wow fadeInDown">
                        <h2>
                            Lightning fast speeds
                        </h2>
                        <p>
                            be at the forefront of innovation with our industry leading technology provided at affordable price for everyone...
                        </p>
                    </div>
                    <ul class="explore__list pb__40">
                        <li>
                            <span>
                                <img src="~/Home/assets/img/banner/three/bb1.png" alt="img">
                            </span>
                            <span>
                                100% Secure
                            </span>
                        </li>
                        <li>
                            <span>
                                <img src="~/Home/assets/img/banner/three/bb4.png" alt="img">
                            </span>
                            <span>
                                24X7 Support
                            </span>
                        </li>
                    </ul>
                    <div class="cmn__grp gap-3">
                        <a asp-action="Recharges" class="cmn__btn me-3">
                            <span>
                                Recharges
                            </span>
                        </a>
                        <a asp-action="Packages" class="cmn__btn outline__btn">
                            <span>
                                Packages
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5 col-md-5">
                <div class="booksolving__thumb">
                    <img src="~/Home/assets/img/booking/booksolving.png" alt="img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End Here -->
<!-- Contact Start Here -->
<section class="refer__section booking__referone bgsection">
    <div class="container">
        <div class="row justify-content-between align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="refer__content minusten">
                    <div class="section__header wow fadeInDown">
                        <h2>
                            We provide the best service in this category
                        </h2>
                        <p>
                            leading the industry with revolutionary technology since our founding.
                        </p>
                    </div>
                    <div class="refer__wrap pt__20">
                        <div class="refer__item wow fadeInUp" data-wow-duration="1.2s">
                            <div class="icon">
                                <img src="~/Home/assets/img/refer/boxspeaker.png" alt="img">
                            </div>
                            <div class="content">
                                <h5>
                                    Over 10M+ Happy Customers
                                </h5>
                                <p>Tried and tested by millions of users everyday...</p>
                            </div>
                        </div>
                        <div class="refer__item wow fadeInUp" data-wow-duration="1.4s">
                            <div class="icon">
                                <img src="~/Home/assets/img/refer/boxregister.png" alt="img">
                            </div>
                            <div class="content">
                                <h5>
                                    Lowest Price Guarantee
                                </h5>
                                <p>Affordable prices with premium quality...</p>
                            </div>
                        </div>
                        <div class="refer__item wow fadeInUp" data-wow-duration="1.6s">
                            <div class="icon">
                                <img src="~/Home/assets/img/refer/boxamount.png" alt="img">
                            </div>
                            <div class="content">
                                <h5>
                                    24X7 Customer Support
                                </h5>
                                <p>Helping our customers with their needs...</p>
                            </div>
                        </div>
                    </div>
                    <a asp-action="About" class="cmn__btn wow fadeInUp" data-wow-duration="1.8s">
                        <span>
                            About Us
                        </span>
                    </a>
                </div>
            </div>
            <div class="col-xl-5 col-lg-5">
                <div class="refer__thumb">
                    <img src="~/Home/assets/img/booking/deals.png" alt="thumb">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact End Here -->
<!-- testimonial Here -->
<section class="testimonial__section pt-120 pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="section__header text-center pb__40 wow fadeInDown">
                    <h2>What does the client say?</h2>
                    <p class="max600">
                        See what our customers say about us.
                    </p>
                </div>
            </div>
        </div>
        <div class="testimoial__wrap owl-theme owl-carousel wow fadeInUp">
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    The customer support team has been fantastic - always helpful and responsive.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/jenlia.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Jenelia d'suza</h6>
                        <span class="desination"> Student </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    using this service is easy and inovative.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/alena.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Alena Hecals</h6>
                        <span class="desination"> Doctor </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    really affordable and easy to use.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/brad.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Brad Hogds</h6>
                        <span class="desination"> Student </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    The customer support team has been fantastic - always helpful and responsive.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/jenlia.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Jenelia d'suza</h6>
                        <span class="desination"> Student </span>
                    </div>
                </div>
            </div>
            <div class="testimonial__item">
                <div class="star__wrap pb__20 d-flex align-items-center gap-2 justify-content-center">
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                    <span>
                        <img src="~/Home/assets/img/testimonial/star.png" alt="icon" />
                    </span>
                </div>
                <p class="fz-18 fw-600">
                    using this service is easy and inovative.
                </p>
                <div class="client">
                    <div class="thumb">
                        <img src="~/Home/assets/img/testimonial/alena.png" alt="img" />
                    </div>
                    <div class="content">
                        <h6 class="name">Alena Hecals</h6>
                        <span class="desination"> Doctor </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="test__shape1">
        <img src="~/Home/assets/img/testimonial/testi-shape1.png" alt="shape" />
    </div>
    <div class="test__shape2">
        <img src="~/Home/assets/img/testimonial/testi-shape2.png" alt="shape" />
    </div>
</section>
<!-- testimonial End -->
