@{
    Layout = "_HomeLayout";
    ViewData["Title"] = "Recharge Page";
}

<!-- Packages Section Here -->
<section class="order__section pt__60 pb__60">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xxl-8 col-xl-10 col-lg-12">
				<div class="order__wrappers">
					<div class="choose__valu">
						<div class="oparator__texts">
							<h5>Packages</h5>
						</div>
						<div class="section__header pb__40">
							<form class="d-flex flex-column gap-2">
								<div class="w-100 d-flex flex-nowrap gap-0 border rounded">
									<input class="form-control border-0"
										   type="text"
										   placeholder="Search..." />
									<button class="btn btn-primary" type="submit">
										<i class="fa-solid fa-magnifying-glass"></i>
									</button>
								</div>
								<select class="form-control" name="" id="">
									<option value="">All</option>
									<option value="">Prepaid</option>
									<option value="">Postpaid</option>
								</select>
							</form>
						</div>
						<div class="row g-4">
							<div class="col-lg-6">
								<div class="valu__items">
									<div class="valu__usd">
										<img src="assets/img/payment/ata5g.png" alt="img" />
										<span class="fz-18 fw-500">
											AT&T Prepaid Refill 15 USD
										</span>
									</div>
									<p>Instant delivery to phone</p>
									<span class="usd fz-16"> USD 15.00 </span>
									<div class="valu__btn">
										<a href="order-summary.html" class="cmn__btn">
											<span> Choose </span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="valu__items">
									<div class="valu__usd">
										<img src="assets/img/payment/ata5g.png" alt="img" />
										<span class="fz-18 fw-500">
											AT&T Prepaid Refill 15 USD
										</span>
									</div>
									<p>Instant delivery to phone</p>
									<span class="usd fz-16"> USD 15.00 </span>
									<div class="valu__btn">
										<a href="order-summary.html" class="cmn__btn">
											<span> Choose </span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="valu__items">
									<div class="valu__usd">
										<img src="assets/img/payment/ata5g.png" alt="img" />
										<span class="fz-18 fw-500">
											AT&T Prepaid Refill 15 USD
										</span>
									</div>
									<p>Instant delivery to phone</p>
									<span class="usd fz-16"> USD 15.00 </span>
									<div class="valu__btn">
										<a href="order-summary.html" class="cmn__btn">
											<span> Choose </span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="valu__items">
									<div class="valu__usd">
										<img src="assets/img/payment/ata5g.png" alt="img" />
										<span class="fz-18 fw-500">
											AT&T Prepaid Refill 15 USD
										</span>
									</div>
									<p>Instant delivery to phone</p>
									<span class="usd fz-16"> USD 15.00 </span>
									<div class="valu__btn">
										<a href="order-summary.html" class="cmn__btn">
											<span> Choose </span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="valu__items">
									<div class="valu__usd">
										<img src="assets/img/payment/ata5g.png" alt="img" />
										<span class="fz-18 fw-500">
											AT&T Prepaid Refill 15 USD
										</span>
									</div>
									<p>Instant delivery to phone</p>
									<span class="usd fz-16"> USD 15.00 </span>
									<div class="valu__btn">
										<a href="order-summary.html" class="cmn__btn">
											<span> Choose </span>
										</a>
									</div>
								</div>
							</div>
							<div class="col-lg-6">
								<div class="valu__items">
									<div class="valu__usd">
										<img src="assets/img/payment/ata5g.png" alt="img" />
										<span class="fz-18 fw-500">
											AT&T Prepaid Refill 15 USD
										</span>
									</div>
									<p>Instant delivery to phone</p>
									<span class="usd fz-16"> USD 15.00 </span>
									<div class="valu__btn">
										<a href="order-summary.html" class="cmn__btn">
											<span> Choose </span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="pagination justify-content-center pt__40">
							<a href="javascript:void(0)">
								<span>
									<i class="material-symbols-outlined"> navigate_before </i>
								</span>
							</a>
							<a href="javascript:void(0)"> 1 </a>
							<a href="javascript:void(0)"> 2 </a>
							<a href="javascript:void(0)"> 3 </a>
							<a href="javascript:void(0)"> .... </a>
							<a href="javascript:void(0)"> 30 </a>
							<a href="javascript:void(0)">
								<span>
									<i class="material-symbols-outlined"> chevron_right </i>
								</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Packages Section Here -->